.p {
  width: 30vw;
  height: 40vh;
  margin: 20px 10px;
  bottom: 2px solid black;
}

@media screen and (max-width:480px) {
  .p {
    width: 70%;
    height: 20vh;
  }


}

.p:hover .s-img {
  transform: translateY(-28%);
}

.s-img {
  width: 100%;
  transition: all 9s ease;
}
