.c {
  height: 100%;
  position: relative;
}

a{
  color: inherit;
  text-decoration: none;
}

.c-bg {
  width: 20px;
  height: 100%;
  background-color: #3500d3;
  position: absolute;
}

.c-wrapper {
  padding: 50px;
  display: flex;
}

.c-left{flex: 1}


.c-right{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

svg {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.c-title {
  font-size: 60px;
  width: 80%;
}

.c-info {
  width: 60%;
}

.c-info-item {
  display: flex;
  align-items: center;
  margin: 50px 0px;
  font-weight: 300;
  width: 70%;
}

.c-info-item-c {
  display: flex;
  align-items: center;
  margin: 50px 0px;
  font-weight: 300;
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  justify-content: center;
  text-decoration: none;
  background-color: #3500d3;
  box-shadow: 0 0 20px rgba(0 0 0, 0.3);
  transition-property: box-shadow, transform;
  transition-duration: 0.3s;
}
.c-info-item-c:hover, .c-info-item-c:focus, .c-info-item-c:active {
  box-shadow: 0 0 20px rgba(0 0 0, 0.5);
  transform: scale(1.1);
}


.c-icon {
  width: 30px;
  height: 30px;
  margin: 20px;
}


.h-icon {
  width: 35px;
  height: 35px;
  margin: 20px;
}

.c-desc {
  font-weight: 200;
}

form {
  margin-top: 20px;
}

input {
  width: 90%;
  height: 60px;
  border: none;
  /* border-radius: 10px; */
  border-bottom: 1px solid black;
  margin: 10px 0px;
  font-size: 15px;
  padding-left: 10px;
}

textarea {
  width: 90%;
  margin: 10px 0px;
  font-size: 15px;
  padding-left: 10px;
  border-radius: 10px;
  resize: none;
}

button {
  border: none;
  padding: 15px;
  background-color: #3500d3;
  color: white;
  cursor: pointer;
  border-radius: 20px;
  width: 30%;
  margin: 20px;
  box-shadow: 0 0 20px rgba(0 0 0, 0.3);
  transition-property: box-shadow, transform;
  transition-duration: 0.3s;
  font-size: 20px;
  font-family: inherit;
  font-weight: lighter;

}

button:hover, button:focus, button:active {
  box-shadow: 0 0 20px rgba(0 0 0, 0.5);
  transform: scale(1.1);

}

@media screen and (max-width: 1200px) {
  .c-info-item-c {
    width: 35vw;
  }
}


@media screen and (max-width: 480px) {
  .c {
    height: 100%;
  }
  .c-bg {
    display: none;
  }
  svg {
    height: 25px;
    width: 25px;
  }

  .c-wrapper {
    flex-direction: column;
    padding: 0px 50px;
  }
  .c-title {
    font-size: 50px;
    text-align: -webkit-center;
    align-items: flex-end;
  }
  .c-info-item {
    margin: 20px 0px;
    width: 90%;
  }
  .c-desc {
    display: none;
  }
  form {
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  input {
    width: 95%;
    height: 40px;
    margin: 10px;
  }
  button {
    margin: 10px;
    width: 50%;
  }
  .thank {
    text-align: center;
  }
  .c-info {
    width: 90%;
  }
}