.p {
  width: 300px;
  height: 40vh;
  margin: 20px 10px;
  bottom: 2px solid black;
}

.b-img {
  width: 100%;
  transition: all 9s ease;
}

.p:hover .b-img {
  transform: translateY(-73.5%);
}

@media screen and (max-width:480px) {
  .p {
    width: 70%;
    height: 20vh;
  }


}